* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  max-width: 220px;
  margin: auto;
  height: 200px;
  background-color: red;
  display: flex;
  gap: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.child {
  background: blue;
  flex: 1 2 70px;
}
